<h2> "How many chips do you want to start with? (min 500) </h2>
<form action="/starting_chips" method="post">
  <input type="text" name="player_chip_count"/>
  <br/>
  <input type ="submit" class="btn" />
</form>
